@CHARSET "UTF-8";

body {
    width:100%;
    margin:0;
    padding:0;
    color:#666;
    font-family:Arial, sans-serif;
    line-height: 18px;
    background:#87CEEB;
    }
    
.btn{width:200px;
     margine:auto;
     }